.navbar {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    background-color: #FDFCE0;


}

.menus {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}